body {
  font-family: Prompt, sans-serif;
  overflow-x: hidden;
  background: #faefec;
  padding: none;
  margin: 0px;
}

#title {
  font-size: 4rem;
  width: 80%;
  padding: 50px;
  margin-top: -20px;
  color: #1d3249;
  font-weight: 800;
}

#day blockquote {
  width: 1000px;
  color: #1d3249;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 50px;
}

button {
  background-color: #f9e4e1;
  border-radius: 10px;
  font-family: Prompt;
  font-size: 1em;
  padding: 20px;
  border: none;
  transition: transform 0.2s;
  margin-top: -80px;
  margin-bottom: 50px;
  margin-left: 50px;
}

button:hover {
  transform: scale(1.1);
}

#root {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.figure {
  padding: 50px;
  margin: 0px;
  font-size: 2vw;
  font-weight: 800;
}

blockquote {
  margin-left: 0px;
}

.figure:nth-of-type(3n - 1) {
  color: #eebed9;
  background-color: #253834;
}

.figure:nth-of-type(3n -2) {
  color: #df4239;
  background-color: #e1cdcb;
}

.figure:nth-of-type(3n -3) {
  color: #729f7f;
  background-color: #ecd8e6;
}
*/ @media screen and (min-width: 600px) {
  .figure {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 100px) {
  .figure {
    flex: 1 1 calc(33% - 2rem);
  }
}
