body {
  font-family: Prompt, sans-serif;
  overflow-x: hidden;
  background: #faefec;
  padding: none;
  margin: 0px;
}

a:hover {
  cursor: pointer;
  transform: scale(1.3);
}

#title {
  font-size: 4rem;
  width: 80%;
  padding: 50px;
  margin-top: -20px;
  color: #1d3249;
  font-weight: 800;
}

#day blockquote {
  width: 75%;
  color: #1d3249;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: -50px;
}

#day cite {
  width: 25em;
  color: #1d3249;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 10px;
}

section:nth-of-type(1) {
  margin-bottom: 50px;
}

header button {
  background-color: #f9e4e1;
  border-radius: 10px;
  font-family: Prompt;
  font-size: 1em;
  padding: 20px;
  border: none;
  transition: transform 0.2s;
  margin-top: -80px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.bottom a {
  text-decoration: none;
  color: #1d3249;
}

header button:hover {
  transform: scale(1.1);
}

/* SECTION 1  */
#root {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* alle errors */
#root marquee {
  color: #eebed9;
  background-color: #253834;
  width: 100%;
  text-align: center;
  padding: 50px;
  margin: 0px;
  font-size: 2vw;
  font-weight: 800;
}

#errorquoteoftheday {
  width: 25em;
  color: #1d3249;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  margin-left: 50px;
  margin-bottom: 50px;
  visibility: hidden;
}

#errorquoteoftheday.display {
  visibility: visible;
}

/* loading state */

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #faefec;
  border-top: 6px solid #df4239;
  border-radius: 100%;
  visibility: hidden;
  animation: spin 1s infinite linear;
  margin-left: 60px;
}
#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ideal state */

.figure {
  position: relative;
  padding: 50px;
  margin: 0px;
  font-size: 2vw;
  font-weight: 800;
}

#root blockquote {
  margin-left: 0px;
}

.figure:nth-of-type(3n - 1) {
  color: #eebed9;
  background-color: #253834;
}

.figure:nth-of-type(3n -2) {
  color: #df4239;
  background-color: #e1cdcb;
}

.figure:nth-of-type(3n -3) {
  color: #729f7f;
  background-color: #ecd8e6;
}

#root a {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: space-around;
  padding: 40px;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
}

/* SECTION 2 */ /* Focus State */
#singlequote {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body section:nth-of-type(1) figure.highlight {
  position: relative;
  min-width: 70%;
  min-height: 93vh;
  font-size: 4rem;
}

#singlequote a {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: space-around;
  padding: 40px;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
  color: #1d3249;
  font-weight: 600;
  font-size: 2rem;
}

#singlequote p {
  color: #1d3249;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 50px;
}

/* RESPONSIVENESS */
@media screen and (min-width: 600px) {
  .figure {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 100px) {
  .figure {
    flex: 1 1 calc(33% - 2rem);
  }
}
